
#root-node {
   -fx-background-color: #336699;
       -fx-border-color: black;
}

#floor-node {
    -fx-fill: black;
    -fx-stroke: green;
}

#tube-node {
    -fx-background-color: greenyellow;
    -fx-fill: greenyellow;
    -fx-stroke: green;
}

#my-rect {
    -fx-fill: yellow;
    -fx-stroke: green;
    -fx-stroke-width: 5;
    -fx-stroke-dash-array: 12 2 4 2;
    -fx-stroke-dash-offset: 6;
    -fx-stroke-line-cap: butt;
}

#pass-info-floor {
    -fx-fill: gold;
    -fx-font-family: Verdana;
    -fx-font-size: 14;
    -fx-font-style: normal;
    -fx-font-weight: bold;
}
#pass-info1 {
    -fx-fill: limegreen;
    -fx-font-family: Verdana;
    -fx-font-size: 14;
    -fx-font-style: normal;
    -fx-font-weight: bold;
}
#pass-info-hyphen {
    -fx-fill: white;
    -fx-font-family: Verdana;
    -fx-font-size: 14;
    -fx-font-style: normal;
    -fx-font-weight: bold;
}
#pass-info2 {
    -fx-fill: lime;
    -fx-font-family: Verdana;
    -fx-font-size: 14;
    -fx-font-style: normal;
    -fx-font-weight: bold;
}
#text-tube-floor{
    -fx-fill: green;
    -fx-font-family: Verdana;
    -fx-font-size: 16;
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-stroke: #7080A0;
}
#text-tube-passenger{
    -fx-fill: red;
    -fx-font-family: Verdana;
    -fx-font-size: 12;
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-stroke: #7080A0;
}
#text-info{
    -fx-fill: gold;
    -fx-font-family: Verdana;
    -fx-font-size: 14;
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-stroke: #7080A0;
    }
#text-monitor-floor{
    -fx-fill: red;
    -fx-font-family: Verdana;
    -fx-font-size: 24;
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-stroke: #7080A0;
}
#text-monitor-direction{
    -fx-fill: red;
    -fx-font-family: Verdana;
    -fx-font-size: 20;
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-stroke: #7080A0;
}
#pass-visual{
    -fx-fill: yellow;
    -fx-font-family: Verdana;
    -fx-font-size: 12;
    -fx-font-style: normal;
    -fx-font-weight: bold;
}
.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}